---
title: Champions
layout: default
permalink: /champions/
---

<div class="container">
    <h1 class="display-4">Champions</h1>
    <p class="text-muted lead">teams that have proven themselves the best of the world by winning major international tournaments</p>

    {% for champion in site.champions reversed %}
        <div class="m-b">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="/img/teams/{{champion.logo}}" style="max-height: 75px" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{champion.name}}</h4>
                    {{champion.event}}
                    <br />
                    {{champion.date}}
                </div>
            </div>

            <div class="card-group">
                {% for player in champion.team %}
                    <div class="card">
                        <img class="card-img-top" src="{% if player.image %}/img/players/{{player.image}}{% else %}/img/teams/{{champion.logo}}{% endif %}" style="width: 100%" />
                        <div class="card-block">
                            <h4 class="card-title">{{player.alias}}</h4>
                            <h6 class="card-subtitle text-muted">{{player.name}}</h6>

                            <p class="card-text"><img src="/img/classes/{{player.class}}.png" style="max-height: 1rem; vertical-align: text-top" /> {{player.class | capitalize}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
