---
title: Organizations
layout: content
permalink: /organizations/
description: groups that are unparalleled in their support for Team Fortress 2
---

<div class="card-columns">
    {% for organization in site.organizations %}
        <div class="card">
            {% if organization.image %}
                <img class="card-img-top" src="/img/organizations/{{organization.image}}" style="width: 100%" />
            {% endif %}

            <div class="card-block">
                <h4 class="card-title">{{organization.name}}</h4>

                <p class="card-text">{{organization.content}}</p>

                {% if organization.links %}
                    {% for link in organization.links %}
                        <a href="{{ link.url }}" class="card-link">{{ link.title }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
